<!DOCTYPE html>
<html lang="ru" class="notouch" style="--vh:10.8px;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="google-site-verification" content="VZNtvncCTc48pAfzsm2_jdOdQUNa9pW4gq8X1RvTpF4">
  <meta name="apple-itunes-app" content="app-id=1156838088">
  <title>test</title>
  <link rel="apple-touch-icon" sizes="180x180" href="https://www.letu.rudist/manifest/apple-touch-icon.png">
  <link rel="manifest" href="https://www.letu.rudist/manifest/site.webmanifest">
  <link rel="mask-icon" href="https://www.letu.rudist/manifest/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="https://www.letu.ru/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="L'Etoile">
  <meta name="application-name" content="L'Etoile">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-config" content="https://www.letu.rudist/manifest/browserconfig.xml">
  <meta name="theme-color" content="#000000">
  <link rel="stylesheet" href="dist/vendors-legacy-4a2f7188.css">
  <link rel="stylesheet" href="dist/styles-legacy-b52ad38c.css">
  <link rel="stylesheet" href="dist/vue-common-5693d8bc.css">
  <link rel="stylesheet preload" as="style"
        href="https://www.letu.ru/dist/assets/fonts/golos-text.css?v=32vzs6er9iysg0xeotmn8vb7d">
  <link rel="stylesheet" href="dist/WebHeader-64c2f49d.css">
  <link rel="stylesheet" href="dist/WebHeaderLogo-89bdaa51.css">
  <link rel="stylesheet" href="dist/WebHeaderCatalogAndSearch-326f0051.css">
  <link rel="stylesheet" href="dist/HeaderMenuWrapper-000980bc.css">
  <link rel="stylesheet" href="dist/SearchResult-666f51f3.css">
  <link rel="stylesheet" href="dist/WebHeaderProfileMenu-aaaecb5a.css">
  <link rel="stylesheet" href="dist/WebHeaderNotifications-77096dcd.css">
  <link rel="stylesheet" href="dist/WebHeaderWishList-833c0fbe.css">
  <link rel="stylesheet" href="dist/WebHeaderMobileSearch-9c7d44b9.css">
  <link rel="stylesheet" href="dist/WebHeaderCitySelection-2fc6e48a.css">
  <link rel="stylesheet" href="dist/WebHeaderGuessCity-7a8b3042.css">
  <link rel="stylesheet" href="dist/WebHeaderMenuSlot-6a9279a1.css">
  <link rel="stylesheet" href="dist/Dropdown-70e34833.css">
  <link rel="stylesheet" href="dist/WebHeaderContactInfo-baa5057d.css">
  <link rel="stylesheet" href="dist/WebHeaderLanguageSelection-cfa04ad6.css">
  <link data-vue-meta="1" rel="canonical" href="https://www.letu.ru/penhaligons2022">
  <script type="module" src="./index.js"></script>
</head>
<body>
  <div class="app-wrapper" data-at-is-full-render-ended="true">
    <div class="page-content-section">
      <header id="header" class="header-v3">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="header-v3__block header-v3__block--top">
                <div class="header-v3__city-selection hidden-xs">
                  <div class="header-v3__navigation-icon"></div>
                  <a data-at-city-selection-button="" class="header-v3__city-selection-link transition-fade"> </a></div>
                <div data-at-header-menu="" class="header-v3__menu-slot"><a href="/browse/clean-beauty"
                                                                            data-menu-item-index="0"
                                                                            class="header-v3__menu-item"> Clean
                  beauty </a><a href="/compilations/exclusive" data-menu-item-index="1" class="header-v3__menu-item">
                  Эксклюзив </a><a href="/compilations/express-delivery" data-menu-item-index="2"
                                   class="header-v3__menu-item"> Экспресс-доставка </a><a href="/browse/parfyumeriya"
                                                                                          data-menu-item-index="3"
                                                                                          class="header-v3__menu-item">
                  Парфюмерия </a><a href="/browse/makiyazh" data-menu-item-index="4" class="header-v3__menu-item">
                  Макияж </a><a href="/browse/uhod-za-kozhei" data-menu-item-index="5" class="header-v3__menu-item">
                  Уход за кожей </a><a href="/browse/apteka" data-menu-item-index="6" class="header-v3__menu-item">
                  Аптека </a><a href="/brands" data-menu-item-index="7" class="header-v3__menu-item"> Бренды </a><a
                  href="/promos" data-menu-item-index="8" class="header-v3__menu-item promo"> Акции </a><a href="/blog"
                                                                                                           data-menu-item-index="9"
                                                                                                           class="header-v3__menu-item">
                  Статьи </a><a href="/podarochnie-sertifikaty" data-menu-item-index="10" class="header-v3__menu-item">
                  Подарочные сертификаты </a></div>
                <div class="header-v3__contact-info hidden-xs"><a href="/contact-us"
                                                                  class="header-v3__contact-info-link"> Связаться с
                  нами </a></div>
                <div class="header-v3__language-selector">
                  <div class="header-v3__language-selector-item active"> RU</div>
                  <div class="header-v3__language-selector-item"> 中文</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="header-v3__block header-v3__block--bottom">
                <div class="header-v3__logo"><a href="/" data-at-header-logo="" class="header-v3__logo-link"><img
                  alt="L'Etoile" title="L'Etoile" width="205" height="44"
                  src="https://www.letu.ru/dist/assets/images/logo.svg" class="header-v3__logo-img"></a></div>
                <div class="header-v3__search-n-catalog">
                  <div class="main-menu-rd-catalog-btn-wrapper">
                    <button type="button" class="le-button header-v3-catalog__button btn btn-black"><span
                      class="header-v3-catalog__icon--wrapper"> <div class="header-v3-catalog__icon"></div> </span>
                      Каталог
                    </button>
                  </div>
                  <div class="header-v3__search-wrapper">
                    <form id="search-form" action="search" role="search" method="GET" class="header-v3__search-form">
                      <input type="hidden" name="Dy" value="1"> <input data-at-search-input="" placeholder="Поиск"
                                                                       type="search" name="Ntt" autocomplete="off"
                                                                       class="header-v3__search-input">
                      <button data-at-search-button="" title="Поиск" type="submit"
                              class="le-button btn btn-block header-v3__search-button btn btn-black">
                        <div class="header-v3__search-icon"></div>
                      </button>
                    </form>
                  </div>
                </div>
                <div class="header-v3__content-item">
                  <div><a data-at-authorization-modal-button=""
                          class="authorization-through-modal header-menu header-profile authorization-modal-wrapper">
                    <div class="">
                      <div class="header-menu-item">
                        <div class="header-menu-item-icon">
                          <div class="header-v3__icon-link"></div>
                        </div>
                      </div>
                    </div>
                    <div class="authorization-dropdown" style="display: none;">
                      <div class="header-profile-menu-user header-profile-menu-user--slide-dropdown">
                        <button data-at-login-or-register-button=""
                                class="le-button header-profile-menu-user__button btn btn-black"> Войдите или
                          зарегистрируйтесь
                        </button>
                      </div>
                      <hr class="header-profile-menu-separator header-profile-menu-separator--slide-dropdown">
                      <div data-at-header-profile-link="other"
                           class="header-profile-link header-profile-link--for-dropdown"> Способы оплаты
                      </div>
                      <div data-at-header-profile-link="other"
                           class="header-profile-link header-profile-link--for-dropdown"> Доставка
                      </div>
                      <div data-at-header-profile-link="other"
                           class="header-profile-link header-profile-link--for-dropdown"> Возврат
                      </div>
                    </div>
                  </a></div>
                </div>
                <div class="header-v3__content-item"></div>
                <div class="header-v3__content-item"><a href="/account/wishlist" title="Избранное">
                  <div data-at-wishlist-icon="" class="header-v3__icon-link"></div>
                </a></div>
                <div class="header-v3__content-item"><a href="/cart" title="Корзина" data-at-cart-link="desktop">
                  <div data-at-cart-icon="" class="header-v3__icon-link"></div>
                </a></div>
                <div class="header-v3__mobile-search">
                  <div class="header-v3__mobile-search-input-container">
                    <form id="search-form" action="/search" role="search" method="GET"
                          class="header-v3__mobile-search-form"><input type="hidden" name="Dy" value="1"> <input
                      data-at-search-input="mobile" placeholder="Поиск" type="search" name="Ntt" autocomplete="off"
                      class="header-v3__mobile-search-input">
                      <div class="form-action">
                        <button title="Поиск" type="submit" class="header-v3__mobile-search-submit">
                          <div></div>
                        </button>
                      </div>
                    </form>
                  </div>
                  <div class="header-v3__mobile-search-button-container">
                    <button data-at-search-button="mobile" type="button" class="header-v3__mobile-search-button">
                      <div></div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div id="content-wrap">
        <div class="landing-content container">

          <div class="row">
            <div class="col-xs-12">

              <%- cssCode %>
              <%- htmlCode %>

            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="footer-section">
      <footer id="footer" class="footer--extended">
        <div class="bg-smoke footer-bg-smoke">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="footer-top">
                  <ul class="footer-menu">
                    <li class="aside-nav-item footer-menu-item"><a href="/about" title="О Л'Этуаль"
                                                                   class="aside-nav-link"> О Л'Этуаль </a></li>
                    <li class="aside-nav-item footer-menu-item"><span title="Продавать с Л'Этуаль" class="pseudolink"> Продавать с Л'Этуаль </span>
                    </li>
                    <li class="aside-nav-item footer-menu-item"><a href="/about/cards" title="Карты клиента Л'Этуаль"
                                                                   class="aside-nav-link"> Карты клиента Л'Этуаль </a>
                    </li>
                    <li class="aside-nav-item footer-menu-item"><a href="/balance" title="Проверить баланс карты"
                                                                   class="aside-nav-link"> Проверить баланс карты </a>
                    </li>
                    <li class="aside-nav-item footer-menu-item"><a href="/stores" title="Найти мой магазин"
                                                                   class="aside-nav-link"> Найти мой магазин </a></li>
                    <li class="aside-nav-item footer-menu-item"><a href="/help" title="Помощь" class="aside-nav-link">
                      Помощь </a></li>
                    <li class="aside-nav-item footer-menu-item"><a href="/payments" title="Способы оплаты"
                                                                   class="aside-nav-link"> Способы оплаты </a></li>
                    <li class="aside-nav-item footer-menu-item"><a href="/delivery" title="Доставка"
                                                                   class="aside-nav-link"> Доставка </a></li>
                    <li class="aside-nav-item footer-menu-item"><a href="/about/sales" title="Условия продажи"
                                                                   class="aside-nav-link"> Условия продажи </a></li>
                    <li class="aside-nav-item footer-menu-item"><a href="/refund" title="Политика возврата"
                                                                   class="aside-nav-link"> Политика возврата </a></li>
                    <li class="aside-nav-item footer-menu-item"><a href="/contact-us" title="Связаться с нами"
                                                                   class="aside-nav-link"> Связаться с нами </a></li>
                    <li class="aside-nav-item footer-menu-item"><a href="/brands" title="Бренды" class="aside-nav-link">
                      Бренды </a></li>
                    <li class="aside-nav-item footer-menu-item"><span title="Подарочные сертификаты" class="pseudolink"> Подарочные сертификаты </span>
                    </li>
                    <li class="aside-nav-item footer-menu-item"><span title="Мобильное приложение" class="pseudolink"> Мобильное приложение </span>
                    </li>
                    <li class="aside-nav-item footer-menu-item"><span title="Карьера и вакансии" class="pseudolink"> Карьера и вакансии </span>
                    </li>
                    <li class="aside-nav-item footer-menu-item"><a href="/about/advertising" title="Реклама у нас"
                                                                   class="aside-nav-link"> Реклама у нас </a></li>
                    <li class="aside-nav-item footer-menu-item"><span title="Афиша Л'Этуаль" class="pseudolink"> Афиша Л'Этуаль </span>
                    </li>
                    <li class="aside-nav-item footer-menu-item"><span title="Тендеры"
                                                                      class="pseudolink"> Тендеры </span></li>
                    <li class="aside-nav-item footer-menu-item"><span title="Партнерская программа" class="pseudolink"> Партнерская программа </span>
                    </li>
                    <li class="aside-nav-item footer-menu-item"><span title="Корпоративным клиентам" class="pseudolink"> Корпоративным клиентам </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-a-black footer-bg-a-black">
          <div class="container">
            <div>
              <div class="footer-middle row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="footer-grid-slot">
                    <div class="hot-line-list">
                      <div class="hot-line-list-title">Горячая линия 24/7</div>
                      <div class="hotline-phone-number">
                        <div class="hot-line-number"><a href="tel:*2345"
                                                        class="hot-line-number-phone js-prevent-sidebar-close"><span
                          class="hot-line-number-star">*</span>2345
                          <div class="hot-line-number-icon">
                            <div></div>
                          </div>
                        </a>
                          <div class="hot-line-number-description"> с мобильного бесплатно</div>
                        </div>
                      </div>
                      <div class="hotline-phone-number">
                        <div class="hot-line-number"><a href="tel:8-800-200-23-45"
                                                        class="hot-line-number-phone js-prevent-sidebar-close">8-800-200-23-45 </a>
                          <div class="hot-line-number-description"> с остальных номеров</div>
                        </div>
                      </div>
                      <div class="mt15">
                        <button class="le-button btn btn-gray"> Звонок по интернету</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                  <div class="footer-grid-slot">
                    <div class="footer-links">
                      <div class="footer-links__title"> Способы оплаты</div>
                      <a href="/payments" class="footer-links-flex-link"><img alt="Master Card"
                                                                              src="https://www.letu.ru/dist/assets/images/master-card-logo-light.svg?r=124"
                                                                              class="footer-links__img-payments"><img
                        alt="Visa" src="https://www.letu.ru/dist/assets/images/visa-inc-logo.svg?r=124"
                        class="footer-links__img-payments"><img alt="MIR"
                                                                src="https://www.letu.ru/dist/assets/images/mir-logo.svg?r=124"
                                                                class="footer-links__img-payments"><img alt="Union Pay"
                                                                                                        src="https://www.letu.ru/dist/assets/images/unionpay-logo.svg?r=124"
                                                                                                        class="footer-links__img-payments"><img
                        alt="JCB" src="https://www.letu.ru/dist/assets/images/jcb-logo.svg?r=124"
                        class="footer-links__img-payments"><img alt="WeChat"
                                                                src="https://www.letu.ru/dist/assets/images/wechat-logo-light.svg?r=124"
                                                                class="footer-links__img-payments"><img alt="SBP"
                                                                                                        src="https://www.letu.ru/dist/assets/images/sbp-logo.svg?r=148"
                                                                                                        class="footer-links__img-payments"><img
                        alt="Yandex Pay" src="https://www.letu.ru/dist/assets/images/yandex-pay-mark.svg?r=161"
                        class="footer-links__img-payments"></a></div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-5 col-xs-12">
                  <div class="footer-grid-slot">
                    <div class="LETUR-FooterSubscribing ContentItem">
                      <form class="subscribe-form form-dark" role="form" novalidate="">
                        <div class="form-group"><label class="subscribe-form-label"
                                                       for="LETUR-FooterSubscribing-1-subscribeEmailAddress"> Подписка
                          на специальные предложения Л`Этуаль </label>
                          <div class="input-group-rd"><input class="input input-black" name="usermail" inputmode="email"
                                                             data-name="subscribeEmailAddress"
                                                             placeholder="Введите ваш емайл.">
                            <button class="btn btn-subscribe" type="submit">
                              <icon params="type: 'paper-plane'"></icon>
                            </button>
                          </div>
                          <div class="validationMessage" style="display: none;"></div>
                        </div>
                      </form>
                      <div class="row col-md-12">
                        <div class="footer-links">
                          <div class="footer-links__title"> Прямые эфиры</div>
                          <div class="stream-footer"><a class="btn btn-stream-footer" href="/live"> Л'Этуаль Live </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-bottom row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="footer-grid-slot">
                    <div class="footer-links">
                      <div class="footer-links__title"> Мобильные приложения</div>
                      <noindex>
                        <div class="footer-links__wrapper"><a rel="nofollow"
                                                              href="https://redirect.appmetrica.yandex.com/serve/1033646624271805105"><img
                          src="https://www.letu.ru/dist/assets/images/play-store.svg" alt=""
                          class="footer-links__img-apps"></a><a rel="nofollow"
                                                                href="https://apps.apple.com/ru/app/letoile/id1156838088"><img
                          src="https://www.letu.ru/dist/assets/images/app-store.svg" alt=""
                          class="footer-links__img-apps"></a><a rel="nofollow"
                                                                href="https://appgallery.cloud.huawei.com/ag/n/app/C101411497?channelId=web&amp;id=bbd2196240744cbd8bd8ebd4958c36c8&amp;s=EA122C04C4F9CD3F6794882C9EB236C6B2F1195ABAE21A8C3B25F5A74C152C56&amp;detailType=0&amp;v="><img
                          src="https://www.letu.ru/dist/assets/images/huawei-store-ru.png" alt=""
                          class="footer-links__img-apps"></a></div>
                      </noindex>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="footer-grid-slot">
                    <div class="social-sharing">
                      <div class="social-sharing__title"> Присоединяйтесь</div>
                      <ul class="list-inline">
                        <li><a target="_blank" rel="nofollow" href="https://twitter.com/letoile_ru">
                          <div></div>
                        </a></li>
                        <li><a target="_blank" rel="nofollow" href="https://vk.com/letoile_official">
                          <div></div>
                        </a></li>
                        <li><a target="_blank" rel="nofollow"
                               href="https://www.youtube.com/channel/UCR3v-XDRGwxJ-PwwHq57zlw">
                          <div></div>
                        </a></li>
                        <li><a target="_blank" rel="nofollow" href="https://t.me/letoileofficial">
                          <div></div>
                        </a></li>
                        <li><a target="_blank" rel="nofollow" href="https://ok.ru/letoileru">
                          <div></div>
                        </a></li>
                        <li><a target="_blank" rel="nofollow" href="https://www.tiktok.com/@letoile_official">
                          <div></div>
                        </a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="copyright"><span>© Л'Этуаль, 1996—2022</span></div>
              <a href="/sitemap" class="footer-link"> Карта сайта </a></div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <div class="le-modal">
    <div tabindex="-1" class="le-modal__overlay"></div>
    <div class="le-modal__wrapper" style="display: none;">
      <button class="le-modal__btn-close"></button>
    </div>
  </div>
  <div class="tab-bar-panel">
    <div class="tab-bar-item"><span class="pos-r"> </span> <span>Главная</span></div>
    <div class="tab-bar-item"><span class="pos-r"> </span> <span>Каталог</span></div>
    <div data-at-cart-link="mobile" class="tab-bar-item"><span class="pos-r"> </span> <span>Корзина</span></div>
    <div data-at-wishlist-link="mobile" class="tab-bar-item"><span class="pos-r"> </span> <span>Избранное</span></div>
    <div data-at-menu-link="mobile" class="tab-bar-item"><span class="pos-r"> </span> <span>Меню</span></div>
  </div>
</body>
</html>
